/* cabecalho.css */

.container {
    width: 100vw;          /* Ocupa toda a largura da tela */
    max-width: 100%;      /* Garante que não fique limitado */
    padding: 0;            /* Remove espaçamento interno */
    box-sizing: border-box;
}

/* É fundamental que o próprio Swiper tenha uma largura e altura definidas */
.swiper {
    width: 100vw;          /* Ocupa toda a largura da tela */
    max-width: 100%;
    height: 560px;
    overflow: hidden;
    margin: 0;             /* Remove margem lateral */
    border-radius: 0px;      /* Remove bordas arredondadas, se houver */
}


.swiper-slide {
  /* Não defina largura fixa aqui. Ele deve ocupar 100% da largura do Swiper. */
  width: 100% !important; /* Cada slide ocupa 100% da largura do Swiper */
  height: 100% !important; /* Cada slide ocupa 100% da altura do Swiper */
  display: flex !important;
  align-items: center;
  justify-content: center;
  /* background: #fff; */ /* Remova ou ajuste, pois a imagem cobrirá */
  
}

.slider-item {
  width: 100%; /* A imagem preenche a largura da slide */
  height: 100%; /* A imagem preenche a altura da slide */
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer, cortando se necessário */
  pointer-events: none; /* Mantém como está, útil para evitar arrastar a imagem em vez do Swiper */
}
.swiper-button-next,
.swiper-button-prev {
  color: green !important;
  fill: green !important;
}
.swiper-pagination-bullet {
  background: green !important; /* Cor dos bullets */
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: green;

  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: green;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.autoplay-progress span {
  position: absolute;
  color: green;
  font-weight: bold;
  font-size: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
