@media(hover: hover) and (pointer: fine) {
    .card:hover {
        width: 35vw;
        position: relative;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    }
}

.card {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 30vw;
    margin-bottom: 2%;
    transition: all 0.5s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    background-color: #234F1E;

}

.imagemCard {
    height: 40%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.conteudoCard {
    opacity: 0;
    transition: opacity 0s;
}

.conteudoCard.aberto {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    height: 100%;
    width: 100%; 
    padding: 1rem;
    box-sizing: border-box;
    transition: opacity 0.3s ease 0.5s;
    margin-top: -30px;
}

.tituloCard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  font-family: "Varela";
}

.textoCard {
    height: 25%;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    font-family: "varela";
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        position: static;
    }

    .conteudoCard {
        opacity: 1;
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: none;
    }

    .conteudoCard.aberto {
        opacity: 1;
        height: 60%;
        width: 10%;
        display: flex;
        flex-direction: column;
        transition: none;
    }
}