.navBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 1000;
    background-image: linear-gradient(to right,#668213  20%,  #234F1E 80%);
}

.navLinks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    font-family: 'Alexandria', sans-serif;
}

.navLogo {
    display: flex;
    align-items: center;
    max-height: 4rem;
    max-width: 4rem;
    margin-left: 1%;
}

.navLogo img {
    height: 5rem;
    width: 6rem;

}

.navDropdown {
    display: inline-block;
    margin: 1%;
    position: relative;
}

.navArtigos a::after {
    display: inline-block;
    content: '▼';
    font-size: 0.8rem;
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.navArtigos:hover a::after {
    transform: rotate(180deg);
}

.dropArtigos {
    position: absolute;
    top: 100%;
    background: linear-gradient(135deg, #668213  20%,  #234F1E 80%);
    min-width: 220px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    margin-top: 8px;
}

.dropArtigos a {
    display: block;
    margin-left: 0.4rem;
}

.dropArtigos a:hover {
    text-decoration: underline;
}

.navDropdown:hover .dropArtigos {
    opacity: 1;
    transform: translateY(0);
  }

.navInicio, .navPSolar, .navPCarbono {
    display: inline-block;
    margin: 1rem;
}

.navLogin {
    display: inline-block;
    margin: 1%;
}

.navLogin a {
    margin: 0.5rem;
}

.navLogout {
    display: inline-block;
    margin: 1%;
}

.navLogout a {
    margin: 0.5rem;
}

.navConfig {
    display: inline-block;
    margin: 1%;
}

.navBar .btnIcone {
    height: 3rem;
    width: 3rem;
}

.navBar a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.hamburger {
    display: none;
    font-size: 4vh;
    color: white;
    cursor: pointer;
    margin: 1vh;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #66F012;
        padding: 10px;
    }

    .navLinks.ativo {
        display: flex;
    }

    .navDropdown, .navPSolar, .navPCarbono, .navLogin {
        margin: 1vh 0;
      }
    
      .dropEquipe, .dropArtigos {
        position: static;
        background-color: transparent;
        box-shadow: none;
        border: none;
      }
    
      .dropEquipe a, .dropArtigos a {
        color: black;
        padding-left: 15px;
      }
    
      .navBar {
        flex-direction: column;
        align-items: flex-start;
      }
}