.rodape {
    height: 18vh;
    width: 100%;
    color: #FFFFFF;
    background-color:#668213;
    flex-direction: column;

}

/* Em src/styles/components/rodape.css */

.redesSociais img {
    height: 2rem;
    margin: 0 0.2rem; /* Ajustei a margem para ficar mais uniforme */
    vertical-align: middle; /* Ajuda a alinhar os ícones com o texto */
}

.parteSuperior {
font-family: "Alexandria", sans-serif;
 height: 5h;
 margin-bottom: 10px;

}

.parteInferior {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Varela", sans-serif;
    height: 5vh;
}

.direitosReservados {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.duvidas {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.duvidas a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.duvidas a:hover {
    text-decoration: underline;
}

.redesSociais {
    justify-content: center;
    align-items: center;
}